/* app css stylesheet */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.templates {
    text-align: center;
}

.templates img {
    width: 70%
}

.btn-block {
    width: 70%;
    margin: auto;
}

.desc-img {
    width: 100%;
    margin-top: 5px;
}
